## Data structures in python 

#### Topic :List

In [10]:
# Q1. Create a list of 5 random numbers and print the list.
import random 
random_number=[]
for i in range(1,6):
    random_number.append(random.randint(1,100))
print(random_number)

[24, 56, 36, 15, 29]

In [12]:
# Q2. Insert 3 new values to the list and print the updated list.
random_number.extend(["python","Java","C++"])
random_number

[24, 56, 36, 15, 29, 'python', 'Java', 'C++']

In [13]:
# Q3. Try to use a for loop to print each element in the list.
for i in random_number:
    print(i)

24
56
36
15
29
python
Java
C++

In [14]:

#Topic: Dictionary
 
#Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

customer_info={"name":"John","Age":25,"Address":"New York"}
customer_info

{'name': 'John', 'Age': 25, 'Address': 'New York'}

In [15]:
#Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.
customer_info.update({"Phone":1234567890})
customer_info

{'name': 'John', 'Age': 25, 'Address': 'New York', 'Phone': 1234567890}

In [ ]:
#Topic: Set
#Exercise  
#Q1.Create a set with values 1, 2, 3, 4, and 5.

set_values={1,2,3,4,5}
print(set_values)
print(type(set_values))

{1, 2, 3, 4, 5}
<class 'set'>

In [22]:
#Q2. Add the value 6 to the set created in Q1.
set_values.add(6)
set_values

{1, 2, 3, 4, 5, 6}

In [23]:
#Q3. Remove the value 3 from the set created in Q1.
set_values.remove(3)
set_values

{1, 2, 4, 5, 6}

In [24]:
#Topic:Tuple
#Exercise 
#Q1. Create a tuple with values 1, 2, 3, and 4
tuple_values={1,2,3,4,}
print(tuple_values)
print(type(tuple_values))
#Q2. Print the length of the tuple created in Q1.

{1, 2, 3, 4}
<class 'set'>

In [26]:
#Q2. Print the length of the tuple created in Q1.
print(len(tuple_values))

4